---
layout: archive
title: "Hobbies"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2 style="font-size: 1.4em;">Travelling</h2>

<details>
  <summary style="cursor: pointer; font-weight: bold; color: #52adc8;">
    Show all travelling posts
  </summary>

  <br>

  {% assign travel_posts = site.portfolio | where: "category", "travel" | sort: "order" %}

  {% for post in travel_posts %}
    {% include archive-single.html %}
  {% endfor %}
</details>

<br>

<h2 style="font-size: 1.4em;">Universities</h2>

<details>
  <summary style="cursor: pointer; font-weight: bold; color: #52adc8;">
    Show all university posts
  </summary>

  <br>

  {% assign university_posts = site.portfolio | where: "category", "university" | sort: "order" %}

  {% for post in university_posts %}
    {% include archive-single.html %}
  {% endfor %}
</details>

<br>

<h2 style="font-size: 1.4em;">Restaurants</h2>

<details>
  <summary style="cursor: pointer; font-weight: bold; color: #52adc8;">
    Show all restaurant posts (p.s you may find hidden food pictures from my other posts!)
  </summary>

  <br>

  {% assign food_posts = site.portfolio | where: "category", "food" | sort: "order" %}

  {% for post in food_posts %}
    {% include archive-single.html %}
  {% endfor %}
</details>

<br>

<h2 style="font-size: 1.4em;">Cooking</h2>

<details>
  <summary style="cursor: pointer; font-weight: bold; color: #52adc8;">
    Show all cooking posts
  </summary>

  <br>

  {% assign cooking_posts = site.portfolio | where: "category", "cooking" | sort: "order" %}

  {% for post in cooking_posts %}
    {% include archive-single.html %}
  {% endfor %}
</details>













