---
layout: archive
title: "Math Resources"
permalink: /resources/
author_profile: true
---

In this page, you will find several notes on different mathematics topics, notes were mainly taken from my undergraduate classes and I have organised them into different topics. It contains notes on calculus, linear algebra, real analysis, differential equations, probability theory, and statistical inferences. To report a typo, please send me an email.



<br><br>
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Statistics and Probability -->
<details class="resource-group">
  <summary class="resource-group-title">
    Math at McGill
  </summary>

  <div class="resource-group-content">

    {% for category in site.publication_category %}
      {% if category[1].group == "Math at McGill" %}

        {% assign filtered_posts = site.publications
          | where: "category", category[0]
          | sort: "order" %}

        {% if filtered_posts.size > 0 %}

          <h2>{{ category[1].title }}</h2>

          {% if category[1].description %}
            <div class="resource-description">
              {{ category[1].description | markdownify }}
            </div>
          {% endif %}

          <details class="resource-notes">
            <summary>Show notes</summary>
            <hr />

            {% for post in filtered_posts %}
              {% include archive-single.html %}
            {% endfor %}

          </details>

        {% endif %}
      {% endif %}
    {% endfor %}

  </div>
</details>

<!-- Algebra and Discrete Mathematics -->
<details class="resource-group">
  <summary class="resource-group-title">
    Stats at UBC
  </summary>

  <div class="resource-group-content">

    {% for category in site.publication_category %}
      {% if category[1].group == "Stats at UBC" %}

        {% assign filtered_posts = site.publications
          | where: "category", category[0]
          | sort: "order" %}

        {% if filtered_posts.size > 0 %}

          <h2>{{ category[1].title }}</h2>

          {% if category[1].description %}
            <div class="resource-description">
              {{ category[1].description | markdownify }}
            </div>
          {% endif %}

          <details class="resource-notes">
            <summary>Show notes</summary>
            <hr />

            {% for post in filtered_posts %}
              {% include archive-single.html %}
            {% endfor %}

          </details>

        {% endif %}
      {% endif %}
    {% endfor %}

  </div>
</details>



 






