---
layout: archive
title: "Math Resources"
permalink: /publications/
author_profile: true
---

In this page, you may find several notes on different mathematics topics, notes were mainly taken from my undergraduate classes and I have organised them into different topics. These notes contain:

* Calculus

* Linear Algebra

* Probability Theory

* Statistics

* Differential Equations (ODE and PDE)

* Regression

* Graph Theory

<br><br>

<div style="text-align: center;">
  <img src="/images/meme1.jpg" alt="Winter Break" width="400">
  <p><em>This is just a meme</em></p>
</div>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% for category in site.publication_category %}
  {% assign filtered_posts = site.publications | where: "category", category[0] | sort: "order" %}
  {% if filtered_posts.size > 0 %}

  <h2>{{ category[1].title }}</h2>
  {% if category[1].description %}
    <p style="margin: 0 0 1em 0; font-size: 0.95em; color: #555;">
      {{ category[1].description | markdownify }}
    </p>
  {% endif %}

  <details>
    <summary style="cursor: pointer;">Show notes</summary>
    <hr />
    {% for post in filtered_posts %}
      {% include archive-single.html %}
    {% endfor %}
  </details>

  {% endif %}
{% endfor %}







