---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p align="center">
  <img src="{{ '/images/teaching.jpg' | relative_url }}" alt="Teaching Banner" style="max-width: 70%; height: auto; margin-bottom: 20px;">
</p>

During my undergraduate, I have been working as a mathematics tutor as well as a TA for several courses. I offer one-to-one lectures to students in need, also give tutorials to the whole class several times. Beside that, I am also running my own video channel on Bilibili, 
a Chinese online video platform just like YouTube. My lectures on Bilibili platform mainly foucs on mathematics subject in Gaokao (Chinese College Enterance Examination) and elementary university-level mathematics including linear algebra and calculus (all recorded in Chinese)
. You can find my personal page : <a href="https://space.bilibili.com/14984119?spm_id_from=333.1007.0.0" target="_blank">here</a>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

